MERCADOPAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=tu_clave_secreta_de_webhook
BASE_URL=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
LOG_LEVEL=info
MICORREO_BASE_URL=
MICORREO_USER=
MICORREO_PASSWORD=
MICORREO_CUSTOMER_ID=
SHIPPING_ORIGIN_POSTAL_CODE=
